<%= leafable_edit_form(section, id: "leafable-editor") do |form| %>
  <h1><%= form.text_area :body, class: "input input--textara full-width txt-align-center", required: true, autocomplete: "off", autofocus: true %></h1>
  <%= form.submit "Save", hidden: true %>
<% end %>
