<%= button_to book_user_access_path(book, user), method: :delete, class: "btn txt-small flex-item-no-shrink" do %>
  <%= image_tag "write.svg", size: 24, aria: { hidden: "true" } %>
  <span class="for-screen-reader">Role: Writer</span>
<% end %>
