<%= button_to leafable_path(leaf), method: :delete, data: { turbo_confirm: "Are you sure you want to delete this page?" }, class: "btn btn--negative txt-small min-width", form_class: "leaf__delete" do %>
  <%= image_tag "minus.svg", aria: { hidden: true }, size: 24 %>
  <span class="for-screen-reader">Delete <%= leaf.title %></span>
<% end %>
