<%= link_to root_path, class: "btn borderless txt-small flex-item-no-shrink" do %>
  <%= image_tag "books.svg", aria: { label: "Books" }, size: 19, class: "colorize--black", alt: "Books" %>
  <span class="for-screen-reader">All books</span>
<% end %>
