<figure class="library__book position-relative">
  <div class="library__book--empty center">
    <%= image_tag "empty-cover.png", alt: "Book cover", class: "book__cover" %>
    <span class="btn btn--positive center">
      <%= image_tag "add.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader"></span>
    </span>
  </div>
  <%= link_to new_book_path, class: "bookmark__link" do %>
    <span class="for-screen-reader">Create a new book</span>
  <% end %>
</figure>
