<% content_for(:title) { "New image page" } %>

<% content_for :header do %>
  <nav>
    <%= link_to @book, class: "btn flex-item-justify-start" do %>
      <%= image_tag "remove.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Cancel</span>
    <% end %>

    <button type="submit" form="leafable-editor", class="btn flex-item-justify-end">
      <%= image_tag "check.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Save</span>
    </button>
  </nav>
<% end %>

<div class="page--picture">
  <%= render "pictures/form", book: @book, picture: @picture %>
</div>
