<dialog class="lightbox" aria-label="Image Viewer (Press escape to close)" data-lightbox-target="dialog" data-action="close->lightbox#reset">
  <img src="" class="lightbox__image" data-lightbox-target="zoomedImage" />

  <form method="dialog" class="lightbox__btn">
    <button class="btn fill-white">
      <%= image_tag "remove.svg", aria: { hidden: "true" } %>
      <span class="for-screen-reader">Close image viewer</span>
    </button>
  </form>
</dialog>
